stages:
  - build
  - test
  - deploy

variables:
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  IMAGE_NAME: my-spring-boot-app
  DOCKER_IMAGE_TAG: latest

before_script:
  - echo "Setting up environment..."
  - mvn clean verify

build:
  stage: build
  script:
    - echo "Building the Spring Boot application..."
    - mvn $MAVEN_CLI_OPTS package

test:
  stage: test
  script:
    - echo "Running tests..."
    - mvn $MAVEN_CLI_OPTS test

deploy:
  stage: deploy
  script:
    - echo "Deploying to local Docker registry..."
    - docker build -t $IMAGE_NAME:$DOCKER_IMAGE_TAG .
    # Assuming you have a local Docker registry running on GitLab
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker push $CI_REGISTRY/$IMAGE_NAME:$DOCKER_IMAGE_TAG
  only:
    - master
